[submodule "publisher"]
	path = publisher
	url = https://github.com/SantanderMetGroup/publisher
[submodule "esgf-utils"]
	path = esgf-utils
	url = https://github.com/SantanderMetGroup/esgf-utils
[submodule "pytables"]
	path = pytables
	url = https://github.com/zequihg50/pytables
